.header {
  background: $primary;
  color: $white;
  margin-bottom: $spacing-large * -2;
  padding: $spacing-large $spacing-small ($spacing-large * 2);

  >h1 {
    margin: 0;
    font-size: $h1-size;
  }
}
