.header {
  background: $primary;
  color: $white;
  margin-bottom: $spacing-large * -2;
  padding: $spacing-large $spacing-small ($spacing-large * 2);
  border-bottom: 10px solid $secondary;

  >h1 {
    margin: 0;
    font-size: $h2-size;

    @media screen and (min-width: $screen-sm-min) {
      font-size: $h1-size;
    }
  }
}
