<header class="header">
  <h1>Pokémon</h1>
  <form (ngSubmit)="onSearch()" class="search">
    <input [(ngModel)]="search" name="search" #ctrl="ngModel" class="h1" placeholder="Search&hellip;">
  </form>
</header>
<main>
  <div *ngIf="items$ | async as items; else loadingBlock">
    <div *ngIf="items.length>0;else emptyBlock" class="list list-clear">
      <app-list-item [data]="item" *ngFor="let item of items; trackBy: trackByFn" class="list-item">
      </app-list-item>
    </div>
    <ng-template #emptyBlock>
      <div class="alert h1" role="alert">
        <strong>
          No results
        </strong>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingBlock>
    <label class="loader center-aligned">
      <progress aria-label="Loading cards…"></progress>
    </label>
  </ng-template>
</main>
