<header class="header">
  <h1>Pokémon</h1>
</header>
<main>
  <div *ngIf="items$ | async as items; else loadingBlock">
    <div *ngIf="items.length>0;else emptyBlock" class="list list-clear">
      <app-list-item [data]="item" *ngFor="let item of items; trackBy: trackByFn" class="list-item">
      </app-list-item>
    </div>
    <ng-template #emptyBlock>
      No results
    </ng-template>
  </div>
  <ng-template #loadingBlock>
    <label class="loader center-aligned">
      <progress aria-label="Loading cards…"></progress>
    </label>
  </ng-template>
</main>
