<div *ngIf="item$ | async as item; else loadingBlock">
  <h1 *ngIf="item;else emptyBlock">
    {{ item.name }}
  </h1>
  <ng-template #emptyBlock>
    Card not found
  </ng-template>
</div>
<ng-template #loadingBlock>
  <label class="loader center-aligned">
    <progress aria-label="Loading card…"></progress>
  </label>
</ng-template>
<!-- <header>
  <h1>Pokémon Name</h1>
</header>
<main>
  <ul>
    <li>Imagem em alta definição</li>
    <li>Nome</li>
    <li>ID do Pokemon</li>
    <li>Tipo(s)</li>
    <li>Lista de ataques com:
      <ul>
        <li>Custo de “mana”</li>
        <li>Nome</li>
        <li>Dano</li>
        <li>Descrição</li>
      </ul>
    </li>
    <li>Resistencia(s)</li>
    <li>Fraqueza(s)</li>
  </ul>
</main> -->
